api/preserv/bin/Debug/netcoreapp2.2/preserv.dll
api/preserv/obj/Debug/netcoreapp2.2/preserv.csproj.CoreCompileInputs.cache
api/preserv/bin/Debug/netcoreapp2.2/preserv.dll
api/preserv/bin/Debug/netcoreapp2.2/preserv.pdb
api/preserv/obj/Debug/netcoreapp2.2/preserv.assets.cache
api/preserv/obj/Debug/netcoreapp2.2/preserv.csprojAssemblyReference.cache
api/preserv/obj/Debug/netcoreapp2.2/preserv.dll
api/preserv/obj/Debug/netcoreapp2.2/preserv.pdb
api/preserv/obj/Debug/netcoreapp2.2/project.razor.json
api/preserv/bin/Debug/netcoreapp2.2/preserv.deps.json
