
<app-page-header [heading]="'Contratos'" [icon]="'fa-bar-chart-o'"></app-page-header>
<div class="col-sm">
    <div class="card">
        <div class="card-body">
                <ngb-tabset [justify]="currentJustify">
                        <ngb-tab title="Contratos">
                            <ng-template ngbTabContent>
                                <div class="card-body table-responsive">
                                    <table datatable [dtOptions]="dtOptions" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Descrição</th>
                                                <th>Valor Contratado</th>
                                                <th>Data Criação</th>
                                                <th>Data Encerramento</th>
                                                <th>Projeto</th>
                                                <th>Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let res of contratos; index as i">
                                                <td class="text-center">
                                                    <small>{{i+1}}</small>
                                                </td>
                                                <td class="text-left">
                                                    <small>{{res.descricao}}</small>
                                                </td>
                                                <td class="text-left">
                                                        <small>{{res.valorContratado | currency}}</small>
                                                </td>
                                                <td class="text-left">
                                                        <small>{{res.dataCriacao}}</small>
                                                </td>
                                                <td class="text-left">
                                                        <small>{{res.dataEncerramento}}</small>
                                                </td>
                                                <td class="text-left">
                                                        <small>{{res.projeto.descricao}}</small>
                                                    </td>
                                                    <th>
                                                    #
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                            <ng-template ngbTabTitle>Novo</ng-template>
                            <ng-template ngbTabContent>
                                
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
        </div>
    </div>
</div>
