<div class="col-sm">
  <div class="card">
    <div class="card-body">      
      <div class="row">
        <div class="col-lg">          
          <form [formGroup]="projetoForm" role="form">
            <div class="row">
              <div class=" col-md-6">
                <label>Descrição</label>
                <input type="text" class="form-control" placeholder="Digite a Descrição do Projeto"
                  formControlName="Descricao" [(ngModel)]="projetoForm.Descricao" required />
              </div>
              <div class=" col-md-3">
                <label>Prazo Previsto Mínimo</label>
                <input type="text" class="form-control" placeholder="Digite o Prazo Mínimo"
                  formControlName="PrazoPrevistoMinimo" [(ngModel)]="projetoForm.PrazoPrevistoMinimo" />
              </div>
              <div class=" col-md-3">
                <label>Prazo Previsto Máximo</label>
                <input type="text" class="form-control" placeholder="Digite o Prazo Máximo"
                  formControlName="PrazoPrevistoMaximo" [(ngModel)]="projetoForm.PrazoPrevistoMaximo" />
              </div>
            </div>
            <br>
            <div class="row">
                <div class=" col-md-4">
                  <label>Valor Previsto</label>
                  <input type="text" class="form-control" placeholder="Informe o Valor Previsto"
                    formControlName="ValorPrevisto" [(ngModel)]="projetoForm.ValorPrevisto" required />
                </div>
                <div class=" col-md-4">
                  <label>Unidade de Tempo</label>
                  <select>
                    <option value="0"> Selecione uma Unidade de Tempo</option>
                    <option *ngFor="let item of resUnidadesTempo" value= {{item.idUnidadeTempo}}>
                      {{item.Descricao}}
                    </option>
                  </select>                 
                </div>
                <div class=" col-md-4">
                    <label>Categoria</label><br>
                    <select>
                      <option value="0"> Selecione uma Categoria</option>
                      <option *ngFor="let item of resCategorias" value= {{item.idCategoria}}>
                        {{item.Descricao}}
                      </option>
                    </select>                 
                  </div>
              </div>
            <button type="button" class="btn btn-success" [disabled]="!formValido()" (click)="salvar()"
              style="margin-top: 2%">
              Salvar
            </button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>