<app-page-header [heading]="'Projetos'" [icon]="'fa-bar-chart-o'"></app-page-header>
<div class="col-sm">
    <div class="card">
        <div class="card-body">
            <ngb-tabset [justify]="currentJustify">
                <ngb-tab title="Meus projetos">
                    <ng-template ngbTabContent>
                        <div class="card-body table-responsive">
                            <table datatable [dtOptions]="dtOptions" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Projeto</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- <tr *ngFor="let item of data | paginate: { itemsPerPage: 10, currentPage: pageActual }"> -->
                                    <tr>
                                        <td>
                                            <div class="col-sm">
                                                <div class="card text-white bg-primary mb-3">
                                                    <div class="card-header">Header</div>
                                                    <div class="card-body">
                                                        <h4 class="card-title">Primary card title</h4>
                                                        <p class="card-text">
                                                            Some quick example text to build on the card title and make up the bulk of the
                                                            card's content.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <a
                                                [routerLink]="['/contrato/novo']"
                                                [routerLinkActive]="['router-link-active']"
                                                class="list-group-item"
                                            >
                                                <i class="fa fa-tasks"></i>&nbsp;
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>Novo</ng-template>
                    <ng-template ngbTabContent>
                        <app-projetoForm></app-projetoForm>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>
