<app-page-header [heading]="'Projetos'" [icon]="'fa-bar-chart-o'"></app-page-header>
<div class="col-sm">
    <div class="card">
        <div class="card-body">
            <ngb-tabset [justify]="currentJustify">
                <ngb-tab title="Meus projetos">
                    <ng-template ngbTabContent>
                        <div class="card-body table-responsive">
                            <table datatable [dtOptions]="dtOptions" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Descrição</th>
                                        <th>Prazo Previsto Mínimo</th>
                                        <th>Prazo Previsto Máximo</th>
                                        <th>Valor Previsto</th>
                                        <th>Categoria</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let res of projetos; index as i">
                                        <td class="text-center">
                                            <small>{{i+1}}</small>
                                        </td>
                                        <td class="text-left">
                                            <small>{{res.descricao}}</small>
                                        </td>
                                        <td class="text-center">
                                            <small>{{res.prazoPrevistoMinimo}}</small>
                                        </td>
                                        <td class="text-center">
                                            <small>{{res.prazoPrevistoMaximo}}</small>
                                        </td>
                                        <td class="text-center">
                                            <small>{{res.valorPrevisto | currency }}</small>
                                        </td>
                                        <td class="text-left">
                                            <small>{{res.categoria.descricao}}</small>
                                        </td>

                                        <th>
                                            #
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>Novo</ng-template>
                    <ng-template ngbTabContent>
                        <app-projetoForm></app-projetoForm>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>
